$button-border-radius: 18px;

.button {
    padding: 10px 35px 10px 35px;
    width: fit-content;
    border-radius: $button-border-radius;
    border: 1px solid #ddb8c0;
    background-color: #db717d;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darken(#db717d, 15%);
    }
}

.button-secondary {
    border: 1px solid #8a8a8a;
    background-color: #6e6e6e;

    &:hover {
        background-color: darken(#6e6e6e, 15%);
    }
}

.loading-container {
    padding: 10px 35px 10px 35px;
    width: fit-content;
}
