.button {
    padding: 10px 35px 10px 35px;
    width: fit-content;
    border-radius: 18px;
    border: 1px solid #ddb8c0;
    background-color: #db717d;
    color: white;
    cursor: pointer;
}
