.input-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 25px;
    width: 100%;

    label {
        padding-left: 15px;
    }

    input {
        height: 35px;
    }

    input, textarea {
        border-radius: 20px;
        border: 1px solid #6e6e6e;
        width: 100%;
        padding-left: 10px;
        cursor: text;

        &:focus {
            outline: none;
            border: 1px solid #4a4a4a;
        }
    }
}

.input-error-message {
    color: red;
    align-self: flex-start;
    padding-left: 15px;
}

.input-field-error {
    input, textarea {
        border-color: red !important;
    }
}
