@import "../components/Sidebar.scss";

.new-vacancy-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-left: $sidebar-width;
    background: rgb(252,221,221);
    background: linear-gradient(0deg, rgba(252,221,221,1) 3%, rgba(255,255,255,1) 47%);
    min-height: 100vh;
}

.save-button {
    margin-bottom: 20px;
}
